_shadowLevels = ('0' '1' '2' '3' '4')

.popover
  border-radius 1u
  background-color $UI.colors.white
  overflow hidden
  for level in _shadowLevels
    &.shadow-{level}
      shadow(level)


.overlay
  position absolute
  width 100%
  height 100%

.case, .areaCase
  flex 1
  width 100%
  height 100%

.arrow
  position absolute
  z-index 999
  border-width 10px
  border-style solid
  border-color transparent

.arrowBottom
  border-bottom-color $UI.colors.white

.arrowTop
  border-top-color $UI.colors.white

.arrowCenterLeft
  border-left-color $UI.colors.white

.arrowCenterRight
  border-right-color $UI.colors.white
