.overlay
  position absolute
  width 100%
  height 100%
  background-color rgba(0, 0, 0, .5)

.case, .areaCase
  flex 1
  width 100%
  height 100%

.content
  background-color #ffffff

.fullVertical
  height 80%
  width 100%

.fullHorizontal
  width 80%
  height 100%

.contentBottom
  height 60%
  border-radius 2u 2u 0 0

.shadow
  shadow(2)
