$this = merge({
  bgColor: $UI.colors.primary,
  height: 10u
}, $UI.ShoppingCart, true)

.root
  padding 2u 0
  flex 1
  flex-direction row

.el
  width 100px
  height 100px
  margin-bottom 3u
  background-color teal

.el1
  width 100px
  height 100px
  margin-bottom 3u
  background-color teal
  shadow(1)
  &.noShadow
    shadow(0)

.el2
  width 100px
  height 100px
  margin-bottom 3u
  background-color teal
  shadow(2)
  &.noShadow
    shadow(0)

.el3
  width 100px
  height 100px
  margin-bottom 3u
  background-color teal
  shadow(3)
  &.noShadow
    shadow(0)

.el4
  width 100px
  height 100px
  margin-bottom 3u
  background-color teal
  shadow(4)
  &.noShadow
    shadow(0)

:export
  config: $this
  colors: $UI.colors
  foobar: 42
  shadows: $UI.shadows
