@require '../node_modules/@startupjs/ui/styles/index.styl'

shadow(level=1)
  if level is 0
    box-shadow none
    elevation 0
  if level is 1
    box-shadow 0px 1px 6.22px #000
    elevation 6
  if level is 2
    box-shadow 0px 3px 8.65px #000
    elevation 9
  if level is 3
    box-shadow 0px 5px 10.27px #000
    elevation 12
  if level is 4
    box-shadow 0px 8px 12px #000
    elevation 20